*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #f1f1f1;
    background: linear-gradient(45deg, rgb(184, 146, 146), rgb(154, 186, 192));
    height: 100vh;
}

.container{
    width: 1000px;
    height: 600px;
    background: linear-gradient(45deg, #1068b6, #ec60a6);
    display: grid;
    grid-template: 80px 280px 90px 90px 60px / repeat(12, 1fr);
    margin: 70px auto 0;
    position: relative;
    border: 1px solid #f1f1f1;
}

h1{
    /* deb row / deb col / fin row / fin col */
    grid-area: 1 / 1 / 2 / 13;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
}
.bloc-logo-info{
    grid-area: 2 / 1 / 3 / 13;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bloc-heure-prevision{
    display: grid;
    grid-area: 3 / 1 / 4 / 13;
    grid-template: 90px / repeat(12, 1fr);
}
.bloc-jour-prevision{
    display: grid;
    grid-area: 4 / 1 / 5 / 13;
    grid-template: 90px / repeat(7, 1fr);
}
.bloc-logo-prevision{
    display: grid;
    grid-area: 5 / 1 / 6 / 13;
    grid-template: 60px / repeat(7, 1fr);
}
.bloc-logo, .bloc-info1, .bloc-info2{
    width: 33%;
}
.bloc-logo img{
    width: 80%;
    height: auto;
}
.pression, .humidite, .temps, .localisation{
    font-size: 40px;
    padding: 10px;
    text-align: center;
}
.temperature{
    font-size: 60px;
    padding: 10px;
    text-align: center;
}
.localisation{
    word-wrap: break-word;
}
.temps::first-letter {
    text-transform: capitalize;
}
.bloc-heure, .bloc-jour{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid #f1f1f1;
    font-size: 21px;
}
.bloc-heure:not(:last-child), .bloc-jour:not(:last-child), .bloc-icone-meteo:not(:last-child){
    border-right: 1px solid #f1f1f1;
}
.bloc-icone-meteo img{
    width: 50%;
    position: relative;
    top: -80%;
}

.icone-chargement {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgb(59,50,50), rgb(22,28,29));
    transition: opacity 1.1s ease-out;
    z-index: 1000;
}
.icone-chargement img {
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.disparition {
    opacity: 0;
}